@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,800;1,700&display=swap');

body{
	font-family: "Montserrat";
	padding:auto;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App{
	margin: 0;
	min-height: 100vh;
	background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.header{
	margin: 0;
	padding-top:30px;
	text-align: center;
	font-weight: 400;
	font-family: "Montserrat";
}

.search-form{
	min-height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image{
	width: 40%;
	height: 40%;
	object-fit: contain;
	margin: 5%;
	border-radius: 50%;
}

.search-bar{
	width: 50%;
	border:none;
	padding: 10px;
	 border-radius: 4px;
}

.btn{
	background: coral;
	border:none;
	padding: 10px 20px;
	color: white;
	cursor: pointer;
}

.recipes{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

ol li {
	list-style: none;
	padding-right: 10px;
}


.name{
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}