.recipe{
	margin: 2em;
	font-size: 1.3em;
	width: 40%;
	border-radius: 10px;
	box-shadow: 0px 5px 20px rgb(71,71,71);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background:white;
	align-items: center;
	min-width: 40%;
	animation: fadeIn 2.5s;
}	

@keyframes fadeIn{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
